In [3]:
x=5
print(x << 8)

1280

In [6]:
x=[1,2,3,4]

In [7]:
for i in x:
    print(i)

1
2
3
4

In [8]:
x.sort(reverse=True)

In [9]:
print(x)

[4, 3, 2, 1]

In [10]:
x=range(1,100,10)
print(x)

range(1, 100, 10)

In [11]:
print('pool"s are gay"s')

pool"s are gay"s

In [12]:
d={'jack':4098, 'jared':4099}
print(d)

{'jack': 4098, 'jared': 4099}

In [13]:
print(d.keys())

dict_keys(['jack', 'jared'])

In [14]:
x=d.keys()

In [15]:
print(x)

dict_keys(['jack', 'jared'])

In [16]:
len(x)

2

In [17]:
iter(x)

In [18]:
print(iter(x))

<dict_keyiterator object at 0x000002225C14A778>

In [19]:
'{:<30}'.format('left aligned')

'left aligned                  '

In [26]:
'{:&^40}'.format('why??')

'&&&&&&&&&&&&&&&&&why??&&&&&&&&&&&&&&&&&&'

In [27]:
import re

In [28]:
text = """Ross McFluff: 834.345.1254 155 Elm Street

Ronald Heathmore: 892.345.3428 436 Finley Avenue
Frank Burger: 925.541.7625 662 South Dogwood Way


Heather Albrecht: 548.326.4584 919 Park Place"""

In [43]:
entries=re.split('\n+', text)

In [45]:
entries.strip()

AttributeError: 'list' object has no attribute 'strip'

In [35]:
x=[entry for entry in entries]

In [36]:
x

['Ross McFluff: 834.345.1254 155 Elm Street',
 ' Ronald Heathmore: 892.345.3428 436 Finley Avenue',
 ' Frank Burger: 925.541.7625 662 South Dogwood Way',
 'Heather Albrecht: 548.326.4584 919 Park Place']

In [37]:
x= 2

In [38]:
x

2

In [39]:
x=entries

In [40]:
x

['Ross McFluff: 834.345.1254 155 Elm Street',
 ' Ronald Heathmore: 892.345.3428 436 Finley Avenue',
 ' Frank Burger: 925.541.7625 662 South Dogwood Way',
 'Heather Albrecht: 548.326.4584 919 Park Place']

In [42]:
[re.split(':? ', entry, 3) for entry in entries]

[['Ross', 'McFluff', '834.345.1254', '155 Elm Street'],
 ['', 'Ronald', 'Heathmore', '892.345.3428 436 Finley Avenue'],
 ['', 'Frank', 'Burger', '925.541.7625 662 South Dogwood Way'],
 ['Heather', 'Albrecht', '548.326.4584', '919 Park Place']]